<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Home</title>
</head>
<body>
    <h1>Welcome to the Jar Of Joy</h1>
    {% if logged_in %}
        <p>You are logged in!</p>
        <p>Current Streak: {{ streak }}</p>
        <a href="{{ url_for('entries') }}">
            <button type="button">Create New Entry</button>
        </a>
        <a href="{{ url_for('random_entry') }}">
            <button type="button">Random Entry</button>
        </a>
        <a href="{{ url_for('view_entries') }}">
            <button type="button">View Entries</button>
        </a>
        <form action="{{ url_for('logout') }}" method="POST">
            <button type="submit">Logout</button>
        </form>
        <form action="{{ url_for('delete') }}" method="POST">
            <button type="submit">Delete Account</button>
        </form>
    {% else %}
        <p>Please log in to create an entry.</p>
        <a href="{{ url_for('login') }}">
            <button type="button">LOG IN!</button>
        </a>
        <a href="{{ url_for('register') }}">
            <button type="button">Register</button>
        </a>
    {% endif %}
{% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul>
            {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</body>
</html>
