<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Random Entry</title>
</head>
<body>
    <div class="header">
        <h1>Random Entry</h1>
        <a href="{{ url_for('home') }}">
            <button type="button">Back to Home</button>
        </a>
    </div>
    <div class="entry">
        <p>{{ random_entry.content }}</p>
    </div>
</body>
</html>