.btn-custom {
  padding: 12px;
  font-size: 16px;
  border-radius: 15px;
  background-color: #6888be;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.btn-custom:hover {
  background-color: #5672a6;
}

.btn-large {
  width: 300px;
  font-size: 30px;
  padding: 14px;
}

.btn-small{
  width: 100px;
  margin-bottom: 15px;
}

.btn-home{
  font-size: 20px;
  width: 200px;
  margin-left: 30px;
  margin-right: 30px;
}