@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&display=swap');

.cabin-sketch-regular {
    font-family: "Cabin Sketch", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.cabin-sketch-bold {
    font-family: "Cabin Sketch", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    background-color: #acc9ee;
    box-sizing: border-box;
}

.header-brand {
    font-size: 70px;
    color: #233c67;
}

.container {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 100%; 
    max-width: 1200px;
}

.profile-container {
    position: relative;
    display: flex;
    align-items: center;
}

.profile-icon {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
}

.logout-button, .notification-button, .delete-button {
    position: absolute;
    right: 0;
    background-color: #6787bd;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-top: 5px;
}

.logout-button {
    top: 179%;
    background-color: #ff4d4d;
}

.notification-button {
    top: 140%;
}

.delete-button {
    top: 75%;
    padding: 5px 20px;
}