
.login-container{
  color: #126fab ;
  max-width: 400px;
  margin: 150px auto;
  padding: 40px;
  align: center;
  border-radius: 12px;
  text-align: center;
  font-family: "Playfair Display", serif;
}

.login-container h2 {
  font-size: 50px;
  margin-bottom: 50px;
}

.login-container button {
   margin: 20px 10px;
}

.login-container input {
  margin: 15px;
  padding: 12px;
  width: 300px;
  border-radius: 8px;
  border: 1px solid #ccc;
  display: block;
  justify-content: center;
}

/*
.login-container img {
    padding: 12px;
  width: 50%;
  height: auto;
  border-radius: 30px;
  border: 7px;
}*/