
.register-container{
  color: #126fab ;
  max-width: 400px;
  margin: 150px auto;
  padding: 40px;
  align: center;
  border-radius: 12px;
  text-align: center;
  font-family: "Playfair Display", serif;
}

.register-container h1{
    text-align: center;
    font-size: 50px;
    margin-bottom: 50px;
    color: #163695;
     font-family: Georgia, 'Times New Roman', Times, serif;
}
.register-container button {
  margin: 20px 10px;
}


.register-container input {
  margin: 15px;
  padding: 12px;
  width: 300px;
  border-radius: 8px;
  border: 1px solid #ccc;
  display: block;
  justify-content: center;

}

.register-container button:hover{
    background-color: #368ec6;
}
.register-container img {
    padding: 12px;
  width: 50%;
  height: auto;
  border-radius: 30px;
  border: 7px;


}